/* Global */
html, body{
    height: 100%;
}

.spacer{
    padding: 80px 0;
}

footer{
    color: white; 
    padding: 40px 15px;  
}
footer a{
    color: white; 
}
footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
footer address{
    margin: 0px;
}
/* End Global Sytles */

/* Hero Section*/
#hero{
    background: url('/img/oldcouple.jpg') no-repeat center center;
    background-size: cover; 
    height: 20%;
    display: flex;
    align-items: center;
}
/*End Hero Section*/
#section a{
    color: black;
}
#section ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/*Section */
#section h2{
    color: blue;
}
#section a{
   color: blue; 
}
/*End Section */

/* CTA*/
#cta{
    background: url('/img/oldcouple.jpg') no-repeat center center;
    background-size: cover;
    height: 20%;
    display: flex;
    align-items: center;
}
/*End CTA */